html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.night {
  --background: #1c1e21;
  --sectionbackground: #000000;
  --graybackground : #424242;
  --primary: #fafafa;
  --secondary: #e0e0e0;
  --tertiary : #f5f5f5;
  --accent: #1de9b6;
  --accent-secondary: #e0e0e0;
  --background-brightness: 30%;
  --change-mode: #fff176;
}

.day {
  --background: #F5F5F5;
  --sectionbackground: #eeeeee;
  --graybackground : #eeeeee;
  --primary: #212121;
  --secondary: #616161;
  --tertiary : #424242;
  --accent: #00bcd4;
  --accent-secondary: #3f51b5;
  --background-brightness: 180%;
  --change-mode: #1a237e;
}

.non-browser-background {
  background-color: var(--background);
}

.app {
  color: var(--primary);
  transition: background-color 0.5s, color 0.5s;
}

.fade-in-section.up {
  transform: translateY(20vh);
}

.fade-in-section.down {
  transform: translateY(-20vh);
}

.fade-in-section.right {
  transform: translateX(-20vh);
}

.fade-in-section.left {
  transform: translateX(20vh);
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.theme-button {
  color: var(--accent) !important;
}

.theme-button:hover {
  color: var(--change-mode) !important;
}

.accent-button {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

.accent-button:hover {
  background-color: var(--accent) !important;
  color: var(--primary) !important;
}

.primary-button {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.primary-button:hover {
  background-color: var(--primary) !important;
  color: var(--background) !important;
}

.tab_bar {
  background-color: var(--sectionbackground);
}

span.primary {
  color: var(--primary);
}


span.accent {
  color: var(--accent);
}

span.secondary {
  color: var(--secondary);
}

span.tertiary {
  color: var(--tertiary);
}

span.accent-secondary {
  color: var(--accent-secondary);
}

.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.outer .below {
  z-index: 1;
}
.outer .top {
  z-index: 2;
}

.rounded-border {
  border-radius: 50%;
}

.image-wrap {
  border: var(--accent) solid 3px;
  justify-content: center;
}

.custom-background-wrap {
  justify-content: center;
}

.custom-background-overlap {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  opacity: 0.7;
}

.custom-background {
  filter: contrast(20%) grayscale(100%) brightness(180%);
  object-fit: cover;
}

.image-overlap {
  height: 100%;
  width: 100%;
  background-color: var(--accent);
  opacity: 0.2;
  transition: opacity 0.5s;
}

.image-overlap:hover {
  opacity: 0;
}

.image {
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.image-overlap:hover + .image {
  filter: none;
}

.image-drop-shadow {
  filter: grayscale(100%) drop-shadow(2vw 3vh 10px var(--accent));
  transition: filter 0.5s;
}

.image-overlap:hover + .image-drop-shadow {
  filter: none;
}

.particle {
  position: fixed;
  width: 100%;
  z-index: -1;
}
