:root {
  --background: #2E3136;
  --sectionbackground: #1D1F24;
  --graybackground : #424242;
  --primary: #F5F5F5;
  --secondary: #8B8E97;
  --tertiary : #bdbdbd;
  --accent: #66FFBB;
}

.custom_button {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

.my_placeholder {
  border-style: dotted;
}

.tab_bar {
  background-color: var(--sectionbackground);
}

span.accent {
  color: var(--accent);
}

span.secondary {
  color: var(--secondary);
}

span.tertiary {
  color: var(--tertiary);
}

.profile_wrap {
  border-radius: 50%;
  outline: var(--accent) solid 4px;
  aspect-ratio: 1 / 1;
  justify-content: center;
}

.profile {
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.profile:hover {
  filter: grayscale(0%);
}

.image_wrap {
  outline: var(--accent) solid 5px;
  aspect-ratio: 1 / 1;
  justify-content: center;
}

.image {
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.image:hover {
  filter: grayscale(0%);
}



span.primary {
  color: var(--primary);
}

.App {
  background-color: var(--background);
  color: var(--primary);
}


